
/* 
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
 */

.row{ width: 1200px; margin: 0 auto;}
.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 366px;
}

.card__side {
   height: 366px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 238px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}


.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}



.card:hover .card__side--front-1

 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.row .col-1-of-3 {
  width:238px;   float: left; margin:31px;
}

