<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="  
        http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd  
        http://www.springframework.org/schema/mvc   
    	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

   <!-- 对项目中的所有类进行扫描以完成Bean创建并进行自动注入。
           支持 @Controller、@Service 以及 @Repository 和 @Component -->
	<!-- 扫描项目中com.fh.shop.controller包下所有的类，从而使类中的@Controller注解生效 -->
    <context:component-scan base-package="com.fh.controller"/>
    <context:component-scan base-package="com.fh.common"/>
    <context:component-scan base-package="com.fh.aspect"/>
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>

    <mvc:interceptors>
        <!--拦截登录-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>  <!--拦截所有的路径-->
            <bean class="com.fh.Inteceptor.LoginInteceptor"></bean>
        </mvc:interceptor>
        <!--拦截权限-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>  <!--拦截所有的路径-->
            <bean class="com.fh.Inteceptor.LoginInteceptor2"></bean>
        </mvc:interceptor>
    </mvc:interceptors>




   <!-- <bean id="logAspect" class="com.fh.aspect.LogAspect"></bean>

    <aop:config>
        <aop:aspect ref="logAspect">
            <aop:pointcut id="p" expression="execution(* com.fh.controller..*.add*(..))||execution(* com.fh.controller..*.update*(..))||execution(* com.fh.controller..*.del*(..))"></aop:pointcut>
            <aop:around method="doLog" pointcut-ref="p"></aop:around>
        </aop:aspect>
    </aop:config>-->

    <!-- 注解驱动 -->
    <mvc:annotation-driven/>
    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <!-- 指定所上传文件的总大小,单位字节。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="10240000" />
    </bean>
    
    <!--
        jsp视图解析器，对模型视图名称的解析，即在模型视图名称添加前后缀
        如/view/welcome.jsp对应的视图名就是：welcome
        这个类在视图解析器链中一定要定义在其他视图的后面，因为它始终会返回一个视图
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


  

</beans>